.product__quantity {
  display: none;
}

html {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #0f0f11;
  position: relative;
  z-index: -2;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
  color: #fff;
  position: relative;
  z-index: -1;
  /* margin-bottom: 20px; */
}

.section {
  padding-top: 150px;
  color: #fff;
}

.footer {
  background: #000;
}

.section__title {
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  width: 554px;
  line-height: 1.2;
  margin-bottom: 36px;
}

.container {
  max-width: 1600px;
  padding: 0 50px;
  margin: 0 auto;
}

.header {
  color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 0px solid;
}

.logo {
  z-index: 5;
}

.menu__btn {
  display: none;
  width: 45px;
  height: 27px;
  flex-direction: column;
  justify-content: space-between;
}

.menu__btn span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s ease;
}

.menu__btn:hover > span {
  background-color: #fbd13e;
}

.mobile__nav {
  display: none;
  justify-content: space-between;
  text-align: left;
}

.mobile__stock {
  background-color: #b70000;
  width: 195px;
  height: 291px;
  display: flex;
}

.mobile__stock-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  transition: 0.3s ease;
}

.mobile__stock-link:hover {
  outline: 2px #fbd13e solid;
}

.mobile__stock-value {
  font-size: 70px;
  color: #000;
  transition: 0.3s ease;
}

.mobile__stock-link:hover > .mobile__stock-value {
  color: #fbd13e;
}

.mobile__stock-title {
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  padding-right: 18px;
}

.mobile__stock-title.fire::before {
  transform: translateY(0px);
}

.mobile__card {
  display: flex;
  flex-direction: column;
  gap: 60px 0px;
  max-width: 291.16px;
  width: 100%;
}

.mobile__card:first-child {
  margin-bottom: 77px;
}

.mobile__card-title {
  font-size: 13px;
  color: #999999;
}

.mobile__card-titleH {
  opacity: 0;
}

.mobile__item {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 20px;
}

.mobile__img {
  position: absolute;
  width: 60px;
}

.menu__list {
  display: flex;
  gap: 0 50px;
}

.menu__list-item {
  display: block;
  position: relative;
  transition: 0.2s linear;
}

.mobile__link {
  padding-left: 94px;
  transition: 0.3s ease;
}

.mobile__link:hover {
  color: #fbd13e;
}

.menu__list-item:hover {
  color: #fbd13e;
}

.menu__list-item a {
  display: inline-block;
}

.menu__list-link {
  padding: 20px 0;
}

.menu__list-item.fire {
  padding-right: 18px;
}

.fire::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url("../img/fire.png");
  right: 0;
  transform: translateY(16px);
}

.menu__list-item.menu__list-arrow {
  padding-right: 18px;
}

.menu__list-item.menu__list-arrow::before {
  content: "";
  position: absolute;
  right: 0;
  top: 48%;
  height: 8px;
  width: 8px;
  border: 2px solid #fff;
  border-right: 0px;
  border-bottom: 0px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.menu__list-item:hover.menu__list-arrow::before {
  transform: rotate(224deg);

  border: 2px solid #fbd13e;
  border-right: 0px;
  border-bottom: 0px;
}

.menu__list-submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background-color: #0f0f11;

  top: 48px;

  transform-origin: 0 0;
  transform: rotateX(90deg);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
}

.submenu__link {
  padding: 21px 20px;
}

.menu__list li:hover > .menu__list-submenu {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
}

.submenu__item {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s linear;
}

.submenu__item:hover {
  color: #fbd13e;
}

.user__action {
  display: flex;
  gap: 0 40px;
  z-index: 5;
}

.user__action-item a {
  font-size: 18px;
  padding: 10px 0;
  transition: 0.3s ease;
}

.user__action-item a:hover {
  color: #fbd13e;
}
.user__action-item .modalContainer {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #1c1c1e;
  color: #fff;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.user__action-item .modalContainer .modalContent {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

#login,
#register {
  display: none; /* Скрыты по умолчанию */
}

/* Отображение форм при добавлении класса 'active' */
#login.active,
#register.active {
  display: block;
}

.user__action-item .modalContainer .modalContent form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.user__action-item .modalContainer .modalContent form h1 {
  text-align: center;
  margin-bottom: 10px;
}

.user__action-item .modalContainer .modalContent form .modalContentFormItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4px;
}

.user__action-item .modalContainer .modalContent form input {
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #fff;
  background: none;
}

.user__action-item .modalContainer .modalContent form label {
  margin-left: 14px;
}

.user__action-item .modalContainer .modalContent form input::placeholder {
  color: #9ea2aa;
}

.user__action-item .modalContainer .modalContent form .btnPrimary {
  background-color: #fbd13e;
  padding: 10px 20px;
  border-radius: 20px;
}

.user__action-item .modalContainer .modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  width: 100%;
}
.user__action-item .modalContainer .modalHeader .closeModal {
  background-color: #d4d4d7;
  border-radius: 100px;
  text-align: center;
  color: #383737;
  padding: 4px 8px;
  font-weight: bold;
}
.top__tocka1 {
  height: 221px;
  margin: 13px 0;
  position: relative;
  left: -70px;
}

.basket {
  position: relative;
}

.basket img {
  position: relative;
  width: 20px;
  top: -3px;
}

.top__tocka2 {
  position: absolute;
  right: -25px;
  bottom: -35%;
  height: 300px;
}

.phone {
  display: block;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 7px;
  transition: 0.2s linear;
}

.phone:hover {
  color: #fbd13e;
}

.mail {
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s linear;
  text-decoration: underline;
}

.mail:hover {
  color: #fbd13e;
  text-decoration: underline;
}

/*top*/

.top {
  height: 100vh;
  position: relative;
}

.top__container {
  padding-right: 0;
}

.top::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("../img/glare.png");
  background-repeat: no-repeat;
  width: 1924px;
  height: 1833px;
  transform: translate(0px, -150px);
}

.top__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.stock__img {
  max-width: 1170px;
  max-height: 680px;
  width: 100%;
}

.h3__title {
  width: 312px;
  font-size: 25px;
  font-weight: 500;
  margin-top: 26px;
}

/*stock*/
.stock__title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 7px;
  line-height: 1.2;
}

.gramm__bg-stock {
  display: inline-block;
  font-size: 13px;
  background: #c66c6c;
  border-radius: 2px;
  padding: 2px 5px;
  margin-bottom: 7px;
}

.gramm {
  line-height: 1.2;
}

.structure__stock {
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 21px;
}

.stock__buy {
  display: flex;
  align-items: center;
}

.cost {
  font-size: 23px;
  font-weight: 600;
}

.inbasket {
  display: block;

  background: #fbd13e;
  padding: 8px;
  transform: translate(30px, 0px);
  font-size: 13px;
  max-width: 120px;
  color: #000;
  transition: 0.3s linear;
}

.inbasket i {
  font-size: 20px;
}

.inbasket:hover {
  background: #000;
  color: #fbd13e;
  outline: 1px #fbd13e solid;
}

/*popular-food*/
.popular-food::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("../img/glare.png");
  background-repeat: no-repeat;
  width: 1924px;
  height: 1833px;
  transform: rotate(180deg);
  right: 0;
}

.pop-fod__padding {
  padding-bottom: 150px;
}

.cardholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 38px 20px;
}

.cardholder__margin {
  padding-bottom: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 231px;
  height: 444px;
}

.top__inner > .card {
  display: block;
  position: absolute;
  z-index: 5;
  padding: 37px 56px;
  width: 355px;
  height: 357px;
  background-image: url("../img/stockbg.svg");
  transform: translate(460px, 450px);
  max-width: 355px;
}

.card > img {
  width: 100%;
  margin-bottom: 16px;
}

.card__title {
  font-size: 20px;
  margin-bottom: 10px;
  min-height: 40px;
}

.card__gramm-bg {
  text-align: center;
  background: #555b66;
  width: 50px;
  border-radius: 2px;
  padding: 2px 5px;
  margin-bottom: 7px;
  margin-bottom: 6px;
}

.card__gram {
  font-size: 13px;
}

.card__structure {
  font-size: 13px;
  margin-bottom: 14px;
  flex: 1 1 auto;
}

.card__cost-old {
  font-size: 18px;
  font-weight: 600;
  color: #cfd0d1;
}

.card__buy {
  display: flex;
  align-items: center;
  bottom: 0;
}

.card__cost-old {
  text-decoration: line-through;
}

.card__cost {
  font-size: 23px;
  font-weight: 800;
}

/*menu-restoran*/
.menu-restoran__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu-restoran__item {
  width: 231px;
  height: 314px;
  background-color: #000;
  transition: 0.4s ease;
}

.menu-restoran__item img {
  width: 180px;
  height: 180px;
}

.menu-restoran__item:hover {
  background: #09234e;
}

.menu-restoran__item-stock {
  background: #b70000;
}

.menu-restoran__item-stock:hover {
  border: 1px #fbd13e solid;
  background: #b70000;
}

.menu-restoran-stock__value {
  color: #000;
  font-size: 70px;
  font-weight: 500;
  transition: 0.4s ease;
}

.menu-restoran__link:hover > .menu-restoran-stock__value {
  color: #fbd13e;
}

.menu-restoran-stock__title {
  position: relative;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  padding-right: 17px;
}

.menu-restoran-stock__title.fire::before {
  transform: translateY(0px);
}

.menu-restoran__title {
  font-size: 20px;
  width: 150px;
  line-height: 1.2;
  text-align: center;
}

.menu-restoran__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.menu-restoran__img-top {
  transform: translateY(-60px);
  transition: 0.4s ease;
}

.menu-restoran__img-bottom {
  transform: translateY(60px);
  transition: 0.4s ease;
}

.menu-restoran__link:hover > .menu-restoran__img-top,
.menu-restoran__link:hover > .menu-restoran__img-bottom {
  transform: translateY(0px);
}

/*footer*/
.footer__logo {
  margin-right: 80px;
}

.footer__top {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  margin-right: auto;
  gap: 0 50px;
}

.footer__item {
  font-size: 12px;
  font-weight: 500;
  transition: 0.3s ease;
}

.footer__item:hover {
  color: #fbd13e;
}

.footer-contact__inner {
  display: flex;
  align-items: center;
}

.footer__phone {
  display: block;
  font-size: 20px;
  margin-right: 50px;
  transition: 0.3s ease;
}

.footer__phone:hover {
  color: #fbd13e;
}

.footer__mail {
  font-size: 12px;
  text-decoration: underline;
  transition: 0.3s ease;
}

.footer__mail:hover {
  color: #fbd13e;
}

.footer__bottom {
  border-top: 1px #3a3a3b solid;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 400;
}

.aboutus {
  display: flex;
}

.aboutus p:first-child {
  display: block;
  margin-right: 45px;
}

.h2__title {
  font-size: 80px;
  margin-bottom: 6px;
  line-height: 1.2;
}

.bread-crumb {
  position: relative;
  margin-bottom: 60px;
  line-height: 1.2;
  margin-left: 7px;
}

.bread-crumb a:last-child {
  color: #9ea2aa;
}

.delivery {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 150px;
}
.delivery h2 {
  display: flex;
  justify-content: center;
  font-size: 80px;
  text-align: center;
  margin-bottom: 48px;
}
.deliveryMod {
  justify-content: center;
  display: flex;
  gap: 36px;
}
.deliveryMod .deliveryInfo {
  padding: 10px 20px;
  background-color: #444449;
  display: flex;
  border-radius: 12px;
  align-items: center;
  gap: 10px;
  color: #fff;
}
@media (max-width: 1280px) {
  .container {
    padding: 0 30px;
  }

  .top__container {
    padding-right: 0;
  }

  .section {
    padding-top: 100px;
  }

  .top {
    height: 80vh;
  }

  .header__inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu__list {
    gap: 0 25px;
  }

  .menu__list-item {
    font-size: 13px;
  }

  .submenu__item {
    font-size: 14px;
  }

  .submenu__link {
    padding: 14px 14px;
  }

  .top__inner > .card {
    transform: translate(310px, 374px);
  }

  .footer__top {
    padding: 20px 0;
  }

  .footer__list {
    gap: 0 25px;
    font-size: 12px;
  }

  .footer__phone {
    margin-right: 30px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }

  .menu__list {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: 1024px;
    padding: 0 20px;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding-top: 123px;
    transition: 0.6s ease;
  }

  .menu__list.menu__list--open {
    transform: translateY(0%);
  }

  .menu__list-item {
    display: none;
  }

  .menu__btn {
    display: flex;
    order: -1;
    z-index: 5;
  }

  .mobile__nav {
    display: flex;
  }

  .top__inner > .card {
    transform: translate(240px, 284px);
  }

  .footer__logo {
    margin-right: 50px;
  }
}

@media (max-width: 900px) {
  .top {
    height: auto;
    padding-bottom: 300px;
  }

  .container {
    padding: 0 20px;
  }

  .top__inner {
    flex-wrap: wrap;
  }

  .top__deliveri {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 65px;
    position: relative;
  }

  .top__deliveri-margin {
    margin-top: 20px;
  }

  .top__tocka1 {
    position: absolute;
    z-index: -1;
    bottom: -181px;
    left: -40px;
  }

  .top__inner > .card {
    transform: translate(20px, 500px);
  }

  .footer__top {
    flex-wrap: wrap;
  }

  .footer__list {
    order: 1;
    width: 100%;
    margin-top: 30px;
  }

  .aboutus {
    width: 100%;
    margin-top: 25px;
  }

  .section__title {
    margin: 0;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 31px;
    font-size: 65px;
  }
}

@media (max-width: 768px) {
  .section {
    padding-top: 60px;
  }

  .cardholder__margin {
    padding-bottom: 60px;
  }

  .mobile__nav {
    flex-wrap: wrap;
  }

  .mobile__stock {
    width: 100%;
    height: 90px;
    margin-bottom: 40px;
  }

  .mobile__stock-link {
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .section__title {
    font-size: 50px;
    width: 400px;
  }

  .h2__title {
    font-size: 50px;
  }

  .top {
    padding-bottom: 0;
  }

  .top__deliveri {
    padding-bottom: 0;
  }

  .top__deliveri-margin {
    display: none;
  }

  .top__tocka1 {
    display: none;
  }

  .top__tocka2 {
    display: none;
  }

  .top__inner > .card {
    display: none;
  }

  .stock {
    display: none;
  }

  .mobile__nav {
    justify-content: center;
  }

  .mobile__card {
    gap: 30px 0;
  }

  .mobile__img {
    width: 45px;
  }

  .mobile__stock-value {
    font-size: 40px;
  }

  .mobile__link {
    padding-left: 60px;
  }

  .footer-contact__inner {
    margin-top: 20px;
    flex-wrap: wrap;
  }
}

@media (max-width: 430px) {
  .h2__title {
    font-size: 40px;
  }

  .section__title {
    font-size: 40px;
  }

  .bread-crumb {
    font-size: 12px;
    margin-bottom: 25px;
  }

  .user__action {
    gap: 0 20px;
  }

  .footer__phone {
    font-size: 15px;
  }

  .footer__bottom {
    font-size: 11px;
  }

  .aboutus {
    flex-wrap: wrap;
  }

  .aboutus p:last-child {
    margin-top: 18px;
  }

  .card {
    width: 155px;
    height: 278px;
  }

  .card__title {
    font-size: 14px;
  }

  .card__structure {
    display: none;
  }

  .cardholder {
    gap: 48px 40px;
  }
}

@media (max-width: 360px) {
  .cardholder {
    gap: 30px 10px;
  }
}

/* .slider-container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
} */
/* 
.slide {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.slide-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
  z-index: 10;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.dot.active {
  background-color: white;
} */
